*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/DiktyoKentrika/photos/banner.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background  : #5d82b9;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


nav .fa{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    }
    
/* Add some spacing between the form fields */
form label, form input{
    margin: 10px 0;
}
    
/* Center align the submit button */
form input[type="submit"]{
    align-self: center;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #5d82b9;
        height: 100vh;
        width: 200px;
        top:0;
        right: 0;
        text-align: center;
        z-index: 2;
    }    

    nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}